body{
  background-color: rgb(144, 226, 226);
  font-size: 18px;
  font-weight: bolder;
  margin-left: 60px;
  }

  .btn {
    display: block;
    background-color: black;
    color: white;
  }

  #result {
    display: none;
  }

  #result1{
    display: none;
  }